body {
	margin: 0;
}


* {
	font-family: Roboto, sans-serif;
	text-align: center;
	color: #333;
}
.title {
	font-size: 50px;
	margin-bottom: 10px;
	margin-top: 1px;
	font-family: Montserrat, sans-serif;
	font-weight: 500;
}
.text {
	color: #666;
	font-size: 16px;
	margin-top: 10px;
}

.tableContainer {
	display: table;
	position: absolute;
	height: 100%;
	width: 100%;
	pointer-events: none;
}

.cellContainer {
	display: table-cell;
	vertical-align: middle;
	/*pointer-events: none;*/
}

.cellContainer a {
	font-size: 16px;
	pointer-events: all;
	text-decoration: none;
	font-weight: bold;
	color: #558;
	transition: all 0.2s ease;
}

.cellContainer a:hover {

	color: #66bb;
}

.innerContainer {
	margin-left: auto;
	margin-right: auto;
	max-width: 500px;
	background-color: rgba(255, 255, 255, 0.7);
	box-shadow: 0 0 60px 30px rgba(255, 255, 255, 0.7);
	border-radius: 100px;
	padding: 10px;
	margin-bottom: 30px;
	/*pointer-events: none;*/
}

#particles-js {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  z-index: -5;
}